.App {
  text-align: center;
  display: flex;
 
}
.MuiPaper-root, .drawer {
  background-color: #0f0f0f !important;
  color: #ffff !important;
  box-shadow: -3px 0 12px 3px #000000 !important;
  width: 350px;
}
.profile{
  
}
section {
  height: auto;
}
.intro {
  margin-top: 15% !important;
  width: 70%;
  text-align: center;
  
}

.content {
  flex-grow: 1 !important;
  width: calc(100% - 350px);
  margin-left: 5% !important;
}
.subtitle{
  color: rgb(143, 143, 143);
  margin-top: 10% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.MuiBox-root{
  margin: auto;
  text-align: center;
}
.MuiDivider-root{
  border-color: #b6b1b4 !important;
}
.profile{
  border-radius: 15%;
}
.whatsappbtn{
  background-color: #25D366 !important;
  color: #ffffff !important;
  border-radius: 50% !important;
}
.emailbtn {
  background-color: #ffff !important;
  color: #D14836 !important;
}
.linkedinbtn{
  background-color: #0077B5 !important;
  color: #ffffff !important;

}
section {
  margin: 0;
  padding: 0;
}
.circular{
  color: #b6b1b4;
}

.timelineColor{
  color: #b6b1b4 !important;
  

}
.MuiTimelineDot-root {
  background-color: #FFA500 !important;
}
.oppositeColor{
  color: #b6b1b4 !important;
  width: auto !important;
}

.menu {
  position: fixed !important;
  flex-grow: 1 !important;
  width: auto !important;
  margin-top: 15%;
  justify-content: center;
  background-color: rgba(31, 30, 30, 0.2) !important;
  
  border: 1px solid rgba(31, 30, 30, 0.2);
  border-radius: 10px;
  width: 3%;
}

.menubtn1{
  color: #ff00b3 !important;
}
.menubtn2{
  color: #00ff00 !important;
}
.menubtn3{
  color: #FFA500 !important;
}
.menubtn4{
  color: #05bdfa !important;
}
.menubtn5{
  color: #c305f8 !important;
}

.projectCard{
  border-radius: 50% !important;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #05bdfa;
}

.projectCard:hover{
  cursor: pointer;
}
.skillcard {
  border-width: 3px;
  margin-top: 50%;
  border: 3px solid #b4b4b4;
  border-radius: 50% !important;
  display: flex;
  width: 85px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  list-style-type: none;
}

.skillsbox {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  width: 90%;
  .MuiGrid-root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}